body {
    padding:0.5%;
    color:#000000;
    background-color:#23376A;
    
    }

    ul {
    list-style: none;
    }

    a {
    text-decoration: underline;
    color:darkgrey;
    }

    a:hover {
    font-weight: bold;
    color: #f1b51c;
    }

    nav {
        width: 99%;
    }
    nav ul {
    background-color: #f4ad45;
    margin: 0.5%;
    padding-inline-start: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
    width:100%;
    }

    nav li {
    display:inline-block;
    margin: 0.5%;}

    nav a {
    text-decoration: none;
    font-size: larger;
    color: #000000;
    }

    .main-color{
        background-color: #AD184F;
        margin: 0.5%;
    }

    .recipe-card{
        margin: 10px;
        background-color: #aa2d5b;
    }

    .submenu{
        display: flex;
        max-width: 99%;
        flex-wrap: wrap;
        
    }

    .recipe-accordian{
        margin: 10px;
    }

    .menu-list{
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: bold;
        color: #000000;
    }

    .search-bar{
        margin-left: 0.5%;
    }

    .accordian-background{
        background-color: aliceblue !important;
    }

    .item-box{
       border: 1px solid black;
       margin: 5px;
    }

    .menu-button{
        margin: 2px;
    }